/* src/PantryItems.css */

/* Basic styling for ingredient items */
.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff; /* Default background color */
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s, opacity 0.3s;
  }
  
  /* Styling for ingredient items when they are in the pantry */
  .ingredient-item.in-pantry {
    background: #f8d7da; /* Light red background for the whole div */
  }
  
  .ingredient-item span {
    margin-left: 8px;
  }